<mat-card class="page-container">
  <mat-card-header>
    <mat-card-title>Page Two </mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <p>
      Quis blandit turpis cursus in hac habitasse platea. Viverra maecenas
      accumsan lacus vel facilisis. Mattis aliquam faucibus purus in massa. A
      lacus vestibulum sed arcu non. Amet risus nullam eget felis. Odio tempor
      orci dapibus ultrices in iaculis nunc. Donec ultrices tincidunt arcu non
      sodales. Sagittis orci a scelerisque purus. In nulla posuere sollicitudin
      aliquam. Magna sit amet purus gravida quis blandit turpis. Rutrum tellus
      pellentesque eu tincidunt. Platea dictumst vestibulum rhoncus est
      pellentesque elit ullamcorper. Arcu felis bibendum ut tristique et egestas
      quis ipsum. Pellentesque sit amet porttitor eget dolor morbi. In aliquam
      sem fringilla ut morbi tincidunt. In iaculis nunc sed augue lacus. Tellus
      pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Amet aliquam
      id diam maecenas ultricies mi eget mauris. Mattis pellentesque id nibh
      tortor id aliquet lectus proin nibh. Diam phasellus vestibulum lorem sed
      risus.
    </p>
  </mat-card-content>
</mat-card>
