.search-box {
  padding: 20px;
  display: flex;

  .search-input {
    min-width: 400px;
    margin-right: 20px;
  }
}

.stocks-table {
  padding: 20px;
  display: block;
}

.stock-groups-actions {
  padding: 15px 0;
  text-align: right;
}
