<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <ul class="menu-options">
      <li
        class="menu-option"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/']"
      >
        <button mat-button>
          <mat-icon>analytics</mat-icon>
          <span>Search Stocks</span>
        </button>
      </li>
      <li
        class="menu-option"
        routerLinkActive="active"
        [routerLink]="['/groups']"
      >
        <button mat-button>
          <mat-icon>table_view</mat-icon>
          <span>Stock Groups</span>
        </button>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <span>Hello {{ username }}!</span>
      <span class="bar-spacer"></span>
      <button mat-icon-button (click)="logOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
