<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <ul class="menu-options">
      <li
        class="menu-option"
        routerLinkActive="active"
        [routerLink]="['/first']"
      >
        <button mat-button>
          <mat-icon>home</mat-icon>
          <span>First Page</span>
        </button>
      </li>
      <li
        class="menu-option"
        routerLinkActive="active"
        [routerLink]="['/second']"
      >
        <button mat-button>
          <mat-icon>person</mat-icon>
          <span>Second Page</span>
        </button>
      </li>
      <li
        class="menu-option"
        routerLinkActive="active"
        [routerLink]="['/stocks']"
      >
        <button mat-button>
          <mat-icon>list</mat-icon>
          <span>Stocks</span>
        </button>
      </li>
      <li
        class="menu-option"
        routerLinkActive="active"
        [routerLink]="['/stocks/search']"
      >
        <button mat-button>
          <mat-icon>people</mat-icon>
          <span>Stocks</span>
        </button>
      </li>
      <li
        class="menu-option"
        routerLinkActive="active"
        [routerLink]="['/stocks/groups']"
      >
        <button mat-button>
          <mat-icon>edit</mat-icon>
          <span>Stock Groups</span>
        </button>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <span>Hello {{ username }}!</span>
      <span class="bar-spacer"></span>
      <button mat-icon-button (click)="logOut()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
