<mat-card class="page-container">
  <mat-card-header>
    <mat-card-title>Page One </mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Eu ultrices vitae
      auctor eu augue ut lectus arcu. Rutrum quisque non tellus orci ac auctor.
      At varius vel pharetra vel turpis nunc. Ornare massa eget egestas purus
      viverra accumsan in. Velit euismod in pellentesque massa placerat duis
      ultricies lacus. Quam viverra orci sagittis eu volutpat odio facilisis. In
      mollis nunc sed id semper risus in hendrerit gravida. Lectus urna duis
      convallis convallis tellus id interdum velit. Ac orci phasellus egestas
      tellus rutrum tellus pellentesque. Adipiscing commodo elit at imperdiet
      dui accumsan sit amet. In vitae turpis massa sed elementum tempus egestas
      sed. Netus et malesuada fames ac turpis egestas integer.
    </p>
  </mat-card-content>
</mat-card>
