$box-color: #ebebeb;

:host {
  display: inline;

  .stock-item {
    width: 250px;
    border: 1px solid $box-color;
    padding: 20px 10px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 1px $box-color;
    cursor: pointer;
    transition: all 200ms;
    user-select: none;

    &:hover {
      background: lighten($box-color, 5);
      transform: scale(1.05);
    }
    &:active {
      background: lighten($box-color, 2);
    }

    .title {
      margin: 0;
    }

    .code {
      margin: 0;
      font-weight: bold;
      font-size: 12px;
    }
  }
}
