<form
  [formGroup]="groupForm"
  class="stock-group-form"
  #groupw="ngForm"
  (ngSubmit)="submitGroup(groupw)"
>
  <mat-form-field appearance="outline" class="form-control">
    <mat-label>Name</mat-label>
    <input
      matInput
      name="name"
      formControlName="name"
      [errorStateMatcher]="matcher"
    />
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-control">
    <mat-label>Description</mat-label>
    <textarea
      name="description"
      matInput
      formControlName="description"
    ></textarea>
  </mat-form-field>
  <app-symbol-selector
    width="100%"
    [stocks]="stocks"
    (stockSymbolsChanged)="stocks = $event"
  ></app-symbol-selector>

  <button
    [disabled]="groupForm.invalid || stocks.length === 0"
    mat-raised-button
    color="primary"
  >
    SAVE
  </button>
</form>
